* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

li { 
  list-style: none;
}

h2 {
  text-align: center;
  padding-bottom: 2rem;
}

.image {
  max-height: 15rem;
  width: 15rem;
  border: 1em;
}

.class-name {
  font-weight: bold;
  padding-bottom: 2rem;
}

.class-description {
  font-style: italic;
  padding-bottom: 1rem;
}

.class-price, .class-schedule {
  padding-bottom: 1rem;
}

.class-prereq {
  font-weight: bold;
  font-style: italic;
  padding-bottom: 1rem;
}
  